.container {
  max-width: 900;
  margin: "0 auto";
}

.sigBlock {
  display: "inline-block";
  border: "1px solid #000";
}
.documentBlock {
  max-width: 800;
  margin: "20px auto";
  margin-top: 8;
  border: "1px solid #999";
}

.controls {
  max-width: 800;
  margin: "0 auto";
  margin-top: 8;
}
