:root {
  --primary45: hsl(218;49%, 66%);
}

.container {
  position: absolute;
  z-index: 100000;
  border: 2px solid var(--primary45);
}
.controls {
  position: absolute;
  right: 0;
  display: inline-block;
  background-color: var(--primary45);
}
.smallButton {
  display: inline-block;
  cursor: pointer;
  padding: 4;
}
