:root {
  --cleanBorder: 1px solid rgb(208, 227, 239);
  --primary45: hsl(218, 49%, 66%);
}

.container {
  text-align: center;
  border: var(--cleanBorder);
  padding: 20;
  margin-top: 12;
  color: var(--primary45);
  font-size: 18;
  font-weight: 600;
  border-radius: 4;
  user-select: none;
  outline: 0;
  cursor: pointer;
}
